h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style {
   color: black;
   text-align: center;
   list-style-type: upper-roman;
}

.p-style{
   color:red;
   font-weight: 900;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}